@import url("https://fonts.googleapis.com/css2?family=Fondamento&family=M+PLUS+1p:wght@400;700&display=swap");
body {
  color: black;
  font-family: "Fondamento", cursive, "M PLUS 1p", sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.slide1 {
  position: relative;
  height: 700px;
  width: 100%;
  background: transparent url(/img/mainvisual.png) no-repeat top center/cover;
}

@media (max-width: 1087px) {
  .slide1 {
    height: 700px;
  }
}

@media (max-width: 767px) {
  .slide1 {
    height: 500px;
  }
}

.slide2 {
  position: relative;
  height: 700px;
  width: 100%;
  background: transparent url(/img/sample1.JPG) center/cover;
}

@media (max-width: 1087px) {
  .slide2 {
    height: 700px;
  }
}

@media (max-width: 767px) {
  .slide2 {
    height: 500px;
  }
}

.slide3 {
  position: relative;
  height: 700px;
  width: 100%;
  background: transparent url(/img/sample2.JPG) center/cover;
}

@media (max-width: 1087px) {
  .slide3 {
    height: 700px;
  }
}

@media (max-width: 767px) {
  .slide3 {
    height: 500px;
  }
}

@media (max-width: 1087px) {
  .pc-hide, .pad-hide {
    display: none;
  }
}

@media (min-width: 1088px) {
  .pc-hide, .pad-hide {
    display: none;
  }
}

.top-wrapper {
  margin-top: 180px;
  text-align: center;
}

.top-wrapper p {
  font-size: 38px;
  font-weight: bold;
}

.top-title {
  font-size: 68px;
  font-weight: bold;
}

.top-btn {
  font-size: 38px;
  padding: 15px 80px;
  margin: 80px 0;
}

.swiper-button-prev,
.swiper-button-next {
  width: 75px;
  height: 75px;
  transition: all 0.3s ease 0s;
  margin: -36px 0 0;
  z-index: 3;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 42px;
    height: 42px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  background: transparent url(/img/slide-arrow-left.png) no-repeat center center/contain;
  left: calc(50% - 544px + 16px);
}

@media (max-width: 1087px) {
  .swiper-button-prev {
    left: 24px;
  }
}

@media (max-width: 767px) {
  .swiper-button-prev {
    left: 4px;
  }
}

.swiper-button-next {
  background: transparent url(/img/slide-arrow-right.png) no-repeat center center/contain;
  right: calc(50% - 544px + 16px);
}

@media (max-width: 1087px) {
  .swiper-button-next {
    right: 24px;
  }
}

@media (max-width: 767px) {
  .swiper-button-next {
    right: 4px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 1;
}

@media (max-width: 767px) {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background: #2f7dc8;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 18px;
  z-index: 2;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 6px;
  margin-right: 6px;
}
